/* Сброс и базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "foto";
    src: url('/assets/fonts/foto.ttf') format('truetype');
    font-weight: 1; /* normal */
    font-style: normal;
    font-display: swap;
}

.typedText {
    font-family: 'foto', sans-serif; /* Измените на нужный шрифт */
    font-size: 12px; /* Размер шрифта */
    line-height: 1.1; /* Межстрочный интервал */
    color: #f5e6c8; /* Цвет текста */
    text-shadow: 0 0 14px rgba(255, 200, 120, 0.25); /* Тень */
}

/* Фон */
.background {
    position: fixed;
    inset: 0;
    background: url("/assets/img/foto.png") center / cover no-repeat;
    filter: brightness(0.6);
    z-index: -2;
}

/* Затемнение */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Основной блок */
.content {
    max-width: 700px;
    padding: 40px 50px;
    background: rgba(20, 20, 20, 0.05);
    border-radius: 50px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 20px rgba(255, 200, 120, 0.55);
}

/* Текст */
.content p {
    font-family: 'foto', sans-serif;
    color: #f5e6c8;
    font-size: 18px;
    line-height: 1.6;
    text-shadow: 0 0 10px rgba(255, 200, 120, 0.25);
}

/* Блок кода */
.code-block {
    margin-top: 35px;
    display: flex;
    gap: 15px;
}

.code-block input {
    flex: 1;
    padding: 12px 16px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.15);
    color: #fff;
}

.code-block input::placeholder {
    color: rgba(255,255,255,0.45);
}

.code-block button {
    padding: 12px 26px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #ffb347, #ffcc33);
    color: #2b1d0e;
    font-weight: 600;
    transition: 0.3s;
}

.code-block button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 180, 80, 0.6);
}
